/*Site Level Style Attributes*/

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/EInbV5DfGHOiMmvb1Xr-hhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html{
  font-size: 16px;
}

body {
  font-family: "Open Sans";
  line-height: 1.5;
}

.flex{
  display: flex;
}


/*Navbar Styling*/

header {
  color: #DAEBF2;
  height: 4rem;
}


header .name-container {
  top:0;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  background-color: #1CA5B8;
  width: 100%;
  height: 4rem;
}

.name {
  align-items: center;
  font-size: 2rem;
  font-weight: 200;
}

.colmar {
  font-weight: 700;
}

span .academy {
  font-weight: 100;
}

.logo {
  height: 46px;
  margin-left: 24px;
}

nav {
  position: relative;
  right: 25px;
}

ul{
  justify-content: flex-end;
  align-items: center;
}

.nav li {
  margin-left: 16px;
}

nav ul li a {
  text-decoration: none;
  color: #DAEBF2;
}

nav ul li a:hover {
  color: #FF8B2B;
}

nav ul li a:visited {
  text-decoration: none;
  decoration: none;
}

.mobile {
  display: none;
}
/*jumbotron banner styling*/

.jumbotron {
  background-color: #DAEBF2;
  height: 40rem;
  max-width: 100%;
}

.main-image {
  width: 50%;

}

.main-image img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 2rem 1.5rem;
}

.headline {
  max-width: 40%;
  flex-direction: column;
  align-items: center;
  padding: 10rem 2rem;
}

.headline h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  padding-left: 3rem;
  text-align: center;
}

.headline h3 {
  font-size: 1.rem;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 3rem;
  text-align: center;
}

.headline h1, h3{
  color: #3D3C40;
}

.headline button {
  padding: 8px;
  margin-top: 10px;
  background-color: #1CA5B8;
  color: #DAEBF2;
  width: 90%;
  border: none;
  font-size: 1.5rem;
  position: relative;
  right: -3.5rem;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.headline button:hover {
  background-color: #FF8B2B;
}

/*Information Section Styling*/

.information-section{
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
  height: auto;
}

.information-photo {
  width: 55%;
  flex-direction: column;
  overflow: hidden;
  height: auto;
}

.information-photo img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.main-details {
  margin: 0rem 1.5rem;
}

.main-details h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: .5rem;
}

.main-details p {
  font-size: 1rem;
  line-height:1.7;
  padding-bottom: 1rem;
}

.main-details .quote {
  font-size: .7rem;
  font-weight: 700;
  padding-top: .625rem;
}

.side-stories {
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-top: 2rem;
  margin-right: 1rem;
  padding-left: 1rem;
  height: auto;
}

.side-story {
  align-items: center;
  padding-left: 1.5rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.side-story:hover {
  background-color: #DAEBF2;
}

.story-image {
  max-width: 35%;
  height: auto%;
}

.story-image img {
  max-width: 100%;
  overflow: hidden;
  margin: 1rem 0rem;
}

.story-copy {
  max-width: 65%;
  height: auto;
  margin: 0rem 1rem;
}

.story-copy h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: .5rem;
}

.story-copy p {
  margin-bottom: .5rem;
}

.story-copy .read-more {
  text-decoration: none;
  color: #1CA5B8;
}

.story-copy .read-more:hover {
  color: #FF8B2B;
}

/*Start Learning Styling*/

.learning-section {
  background-color: #DAEBF2;
}

.learning-section h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0;
}

.top-row {
  margin: 0 4.5rem;
  justify-content: center;
  margin: auto;
}

.major {
  flex-direction: column;
  margin:2rem;
  width: 30%;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.major:hover {
  background-color: #1CA5B8;
  color: #DAEBF2;
}

.major img {
  height: auto;
  overflow: hidden;
  width: 100%;
}

.major-copy {
  padding: 1rem 1rem;
}

.major-copy h3 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

.major-copy p {
  padding: .5rem 0;
}

.top-row {
  margin: 0 4.5rem;
  justify-content: center;
  margin: auto;
}

/*Thesis Exhibit Section Styling*/

.thesis-section h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0;
}

.thesis-exhibit {
  justify-content: space-between;
  width: 100%;
}

.left-container {
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.left-container video {
  width: 100%;
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;
}

.video-details {
  padding: 0 4rem;
}

.video-details h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: .5rem;
}

.video-details p {
  margin-bottom: 2rem;
}

.right-container {
  flex-direction: column;
  width: 40%;
  padding: 2rem 1.5rem;
}

.exhibit {
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
  margin-right: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.exhibit:hover {
  background-color: #DAEBF2;
}

.exhibit-image {
  width: 35%;
}

.exhibit-image img {
  width: 100%;
  height: auto;
  margin: 1rem 1rem;
}

.exhibit-details {
  width: 65%;
  padding-left: 3rem;
}

.exhibit-details h3{
  font-size: 1.25rem;
  font-weight: 700;
}

footer {
  border-top: 1px solid black;
  background-color: #DAEBF2;
}

.footer-container {
  justify-content: space-between;
}

.copyright {
  padding: 1rem 1.5rem;
  font-size: .75rem;
}

.footer-links {
  align-items: center;
  padding: 1rem 1.5rem;
}

.footer-links span{
  padding-left: 1rem;
  font-size: .75rem;
}

@media only screen and (max-width: 1175px){
  .desktop {
    display: none;
  }

  header {
    max-width: 100%
  }

.mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 4rem;
  align-items: center;
  padding-top: .5rem;

}

.jumbotron {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
}

.main-img {
  max-width: 100%;
  height: auto;
}

.headline {
  width: 100%;
  height: 10rem;
  position: relative;
  top: 10rem;
}

.headline h1 {
  font-size: 1.5rem;
}

.headline h3 {
  font-size: 1rem;
}

.main-image img {

}

.information-photo,
.main-details {
  display: none;
}

.information-section {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.side-story {
  flex-direction: column;
  align-items; center;
  justify-content: center;
}

.side-story img {
  width: 100%
}
}

  }
}
