/*Site Level Style Attributes*/

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/EInbV5DfGHOiMmvb1Xr-hhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html{
  font-size: 16px;
}

body {
  font-family: "Open Sans";
  line-height: 1.5;
}

.flex{
  display: flex;
}


/*Navbar Styling*/

header {
  color: #DAEBF2;
}


header .container {
  height: 64px;
  top:0;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid black;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1CA5B8;
}

.name {
  align-items: center;
}

.name {
  font-size: 2rem;
  font-weight: 200;
}

.colmar {
  font-weight: 700;
}

span .academy {
  font-weight: 100;
}



.logo {
  height: 46px;
  margin-left: 24px;
}

nav {
  position: relative;
  right: 25px;
}

ul{
  justify-content: flex-end;
  align-items: center;
}

.nav li {
  margin-left: 16px;
}

nav ul li a {
  text-decoration: none;
  color: #DAEBF2;
}

nav ul li a:hover {
  color: #FF8B2B;
}

nav ul li a:visited {
  text-decoration: none;
  decoration: none;
}
/*banner styling*/

.jumbotron {
  position: relative;
  top: 64px;
  background-color: #DAEBF2;
  max-width: 100%;
}

.main-image{
  margin: auto;
  width: 60%
}

.main-image img {
  max-width: 100%;
  margin: 32px 24px;
}

.headline {
  max-width: 40%;
  margin-left: 1.5rem;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  padding-left: 1.5rem;
  padding-right: 3rem;

}

.headline h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.headline h3 {
  font-size: 1.rem;
  padding-bottom: 10px;
  padding-top: 5px;
}

.headline button {
  padding: 8px;
  margin-top: 10px;
  background-color: #1CA5B8;
  color: #DAEBF2;
  width: 100%;
  border: none;
  font-size: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.headline button:hover {
  background-color: #FF8B2B;
}
