/*Site Leve/*Site Level Style Attributes*/

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/EInbV5DfGHOiMmvb1Xr-hhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html{
  font-size: 16px;
}

body {
  font-family: "Open Sans";
  line-height: 1.5;
}

.flex{
  display: flex;
}

/*Navbar Styling*/

header {
  color: #DAEBF2;
  height: 4rem;
  wifth: 100%
}


header .name-container {
  top:0;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  background-color: #1CA5B8;
  width: 100%;
  height: 4rem;
}

.name {
  align-items: center;
  font-size: 2rem;
  font-weight: 200;
}

.colmar {
  font-weight: 700;
}

span .academy {
  font-weight: 100;
}

.logo {
  height: 46px;
  margin-left: 24px;
}

nav {
  position: relative;
  right: 25px;
}

ul{
  justify-content: flex-end;
  align-items: center;
}

.nav li {
  margin-left: 16px;
}

nav ul li a {
  text-decoration: none;
  color: #DAEBF2;
}

nav ul li a:hover {
  color: #FF8B2B;
}

nav ul li a:visited {
  text-decoration: none;
  decoration: none;
}

.mobile {
  display: none;
}

/*Jumbotron Styling*/

.jumbotron {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-color: #DAEBF2;
  overflow: auto;
}

.jumbotron img {
  width: 60%;
  height: 90%;
  margin: 2rem 1.5rem;
}

.headline {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%
}

.headline h1 {
  font-size: 3rem;
  font-weight: 700;
}

.headline p {
  font-size: 1.5rem;
}

.headline button {
  padding: 8px;
  margin-top: 10px;
  background-color: #1CA5B8;
  color: #DAEBF2;
  width: 90%;
  border: none;
  font-size: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.headline button:hover {
  background-color: #FF8B2B;
}

@media only screen and (max-width:1175px) {

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .desktop, .logo, .nav {
    display: none;
  }

  .name-container .mobile {
    width: 100%;
  }

  .header {
    width: auto;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    align-items: center;
    padding-top: .5rem;
  }

  .jumbotron {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .jumbotron img {
    width: 100%;
    margin-top: 0rem;
    margin-bottom: .5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .headline {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
  }

  .headline h3{
    padding: 2rem 0rem;
  }
}

/*Information Section Styling*/

.information-section {
  width: 100%;
  justify-content: center;
}

.information-photo {
  width: 60%;
  flex-direction: column;
}

.information-photo img {
  width: 100%;
  padding: 2rem 1.5rem;
}

.information-photo h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

.information-photo p {
  padding-left: 1.5rem;
  line-height: 2;
  font-size: .8rem
}

.information-photo .quote {
  font-size: .7rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  font-style: italic;
}

.side-stories {
  flex-direction: column;
  width: 35%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 3%;
  margin-right: 2%;
}

.side-story {
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.side-story img {
  width: 40%;
  height: auto;
  padding: 1rem 1rem;
}

.side-story:hover {
  background-color: #DAEBF2;
}

.mobile-storyimage {
  display: none;
}

.story-copy {
  width: 60%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 1rem;
  line-height: 1.6;
}

.story-copy h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1rem;
}

.story-copy p {
  font-size: .8rem;
  padding: .3rem 1rem;
}

.story-copy .read-more {
  text-decoration: none;
  color: #1CA5B8;
}

@media only screen and (max-width:1175px) {

  .information-section {
    padding: 0rem;
    width: 100%
  }

  .information-photo {
  display: none;
  width: 100%;
  }

  .side-stories {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .side-story {
    flex-direction: column;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }

  .side-story img {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .story-copy {
    width: 100%;
    padding: 0;
  }

  .story-copy h3, p {
    text-align: left;
  }

  .side-story .desktop-image{
    display: none;
  }

  .mobile-storyimage{
    display: block;
    width: 100%;
    padding: 0;
  }

}

/*Learning Section*/

.learning-section {
  background-color: #DAEBF2;
}

.learning-section h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.top-row {
  justify-content: center;
  margin-bottom: 2rem;
}

.bottom-row {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.major {
  flex-direction: column;
  width: 30%;
  text-align; center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 1.5rem 1.5rem;
  background-color: white;
}

.major:hover {
  background-color: #1CA5B8;
  color: #DAEBF2;
}

.major h3, p {
  padding: .5rem 1rem;
}

.major h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width:1175px) {

.learning-section h2 {
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.major img {
  display: none;
}

.major p {
  display: none;
  }

.top-row, .bottom-row {
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.major {
  width: 100%;
  margin: .5rem 0rem;
}

.major h3{
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

}

/*Thesis Section*/

.thesis-section h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

video {
  height: auto;
  width: 100%;
  margin-top: 2rem;
}

.left-container {
  flex-direction: column;
  width: 60%;
}

.left-container h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-left: 1rem;
}

.left-container p {
  padding-left: 1.5rem;
  line-height: 2;
  font-size: .8rem;
  padding-bottom: 2rem;
}

.right-container {
  flex-direction: column;
  width: 35%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 3%;
  margin-right: 2%;
}

.right-container img {
  width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.exhibit {
  align-items: center;
  margin-bottom: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.exhibit:hover {
  background-color: #DAEBF2;
}

.exhibit-details {
  width: 65%;
  height: auto;
}

.exhibit-details h3, p {
  padding: .5rem 1rem;
}

.exhibit-details h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.social-icons {
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: 5;
  background-color: lightgray;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
  width: 1.4rem;
  border-radius: 4px;
  opacity: 0.6;
  border: 1px solid black;
}

.fa-facebook:hover {
  color: #FF8B2B;
}

.fa-instagram:hover {
  color: #FF8B2B;
}

.fa-pinterest:hover {
  color: #FF8B2B;
}

.fa-twitter:hover {
  color: #FF8B2B;
}

@media only screen and (max-width:1175px) {
.thesis-section h1{
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  font-weight: 700;
}

.thesis-section {
  width: 100%;
  margin: 0;
}

.right-container, .video-copy {
  display: none;
}

.left-container {
  width: 100%;
  margin: 0;
}

video {
  width: 100%;
  padding-bottom: 1.5rem;
}

.social-icons {
  display: none;
}
}

/*footer*/

footer {
  border-top: 1px solid black;
  background-color: #DAEBF2;

}

.footer-container {
  justify-content: space-between;
  height: 4rem;
}

.footer-container span {
  font-size: .8rem;
  padding: 1rem 1.5rem;
}

.footer-links span:hover {
  color: #FF8B2B;
}

@media only screen and (max-width:1175px) {
.footer-links {
  display: none;
}

.footer-container span{
  margin: 1rem 0rem;
}

footer {
  border: none;
  background-color: white;
  width: 100%;
}
}
